@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/////
@mixin osnova {
  font-family: "Merriweather", serif;
  font-size: 18px;
  color: rgb(228, 209, 202);
}

@media only screen and (max-width: 1000px) {
  header {
    height: 560px !important;
    max-width: 1000px;

    .headertwo {
      ul {
        margin-top: 440px !important;

        a {
          font-size: 27px !important;
        }
      }
    }
  }
  .osnova {
    max-width: 900px;
    img {
      width: 300px;
      height: 260px;
    }
  }
}
///////////
@media only screen and (max-width: 880px) {
  header {
    height: 550px !important;
    max-width: 880px;

    .headerone {
      flex-direction: column;

      .two {
        h1 {
          text-align: left;
          font-size: 28px !important;
        }
        p {
          font-size: 15px !important;
          text-align: left !important;
        }
      }
    }

    .headertwo {
      ul {
        margin-top: 380px !important;

        a {
          font-size: 20px !important;
        }
      }
    }
  }
  .osnova {
    max-width: 800px;
    #onas {
      h2 {
        font-size: 27px !important;
      }
      img {
        width: 250px;
        height: 230px;
      }
    }
    #vakansii {
      width: 700px;
      h2 {
        font-size: 27px !important;
      }
      .spisok {
        width: 700px;
      }
      img {
        width: 200px;
        height: 170px;
        margin-left: 10px;
      }
    }
  }

  footer {
    max-width: 880px;
  }
}

///////////////
@media only screen and (max-width: 600px) {
  body {
    width: 650px;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
  }
  .knopka {
    right: 650px !important;
  }

  header {
    height: 550px !important;
    background-size: 900px 550px;
    background-position: center !important;
    max-width: 500px !important;

    .headerone {
      flex-direction: column;
      .one {
        p {
          font-size: 15px;
        }
        li {
          margin: 5px !important;
        }
      }
      .two {
        h1 {
          text-align: left;
          font-size: 28px !important;
        }
        p {
          font-size: 15px !important;
          text-align: left !important;
        }
      }
    }

    .headertwo {
      ul {
        margin-top: 300px !important;
        li {
          display: block !important ;
          margin-top: 10px !important;
          a {
            font-size: 20px !important;
          }
        }
      }
    }
  }
  .osnova {
    width: 350px !important ;
    margin: 0px !important;
    #onas {
      h2 {
        font-size: 27px !important;
      }
      p {
        word-spacing: 3px !important;
        padding: 2px !important;
        text-indent: 20px !important;
        font-size: 14px !important;
      }
      img {
        margin-top: 5px !important;
        margin-left: 10px !important;
        margin-bottom: 5px !important;
        width: 150px !important;
        height: 120px !important;
      }
    }

    #vakansii {
      width: 350px !important ;
      .spisok {
        width: 380px !important ;
        display: block !important ;
      }

      h4 {
        font-size: 18px !important;
      }
      h2 {
        font-size: 27px !important;
      }
      p {
        word-spacing: 3px !important;
        padding: 2px !important;
        text-indent: 20px !important;
        font-size: 14px !important;
      }
      .img {
        max-width: 400px !important;
      }
      img {
        margin-top: 5px !important;
        width: 150px !important;
        height: 120px !important;
      }

      .snoska {
        margin-bottom: 40px !important;
      }
    }
  }
  footer {
    max-width: 400px !important;
  }
}
